# Ignore version control
.git/

# Ignore dev & test code
tests/
puzzle_solver_cli/
puzzle_solver_core/tests/
archive/

# Ignore compiled and temp files
__pycache__/
*.pyc
*.pyo
*.log

# Ignore IDE/editor config
.vscode/
.idea/

# Ignore environment & OS files
.env
.DS_Store
venv/
.python-version

# Ignore documentation and media
*.gif
*.png
*.jpg
*.jpeg
*.md
